
<div class="sidebar shadow">
  <div class="logo-section p-4">
    <h3 class="text-primary fw-bold">ConfigSync</h3>
  </div>
  
  <ul class="nav flex-column">
    <small class="text-uppercase text-muted fw-bold px-4 mb-2">Main Menu</small>
    <li class="nav-item">
      <a routerLink="/" routerLinkActive="active" class="nav-link">
        <span class="icon bg-primary-light text-primary"><i class="bi bi-tv"></i></span>
        Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/compare" routerLinkActive="active" class="nav-link">
        <span class="icon bg-info-light text-info"><i class="bi bi-intersect"></i></span>
        Comparison
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/export" routerLinkActive="active" class="nav-link">
        <span class="icon bg-danger-light text-danger"><i class="bi bi-cloud-download"></i></span>
        Export
      </a>
    </li>
    
  </ul>
</div>